{% extends "base.html" %}
{% block body %}
{% if not admin %}
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
      <button class="btn btn-outline-secondary" onclick="window.location='/index'" type="button">Отправить посылку</button>
      <button class="btn btn-outline-secondary" onclick="window.location='/status'" type="button">Статусы посылок</button>
  </form>
</nav>
<h1>Отправить посылку</h1>
    <form method="post">
        <input class="form-control" required id="task" placeholder="Название" name="task">
        <div>
            <textarea rows="10" required cols="100" name="code" id="code"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
{% else %}
<h1>Посылки</h1>
{% for solution in solutions %}
    <form method="post">
        <input type="hidden" name="edit-solution" value="1">
        <input type="hidden" name="solution-id" value="{{ solution.id }}">
        <h2>{{ solution.task }}</h2>
        <pre>{{ solution.code }}</pre>
        <button type="submit" name="ok" class="btn btn-outline-success">Зачтено</button>
        <button type="submit" name="no" class="btn btn-outline-danger">На доработке</button>
    </form>
{% endfor %}
{% endif %}
{% endblock %}